*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
html/
/nbproject/private/
nbproject/private/
nbproject\private\
\nbproject\private\
nbproject/Package-*.bash
nbproject\Package-*.bash
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
funclist
nbproject/Makefile-*
nbproject\Makefile-*
disassembly/
*.map
dist\
PsoMultipleUnits.X/nbproject/Makefile-genesis.properties
*.xlsx
PsoMultipleUnits.X/nbproject/Makefile-genesis.properties
/slprj/
slprj/
ChinookLib.X/nbproject/Makefile-genesis.properties
PsoMultipleUnits.X/nbproject/private/private.xml
